# Python Project - Samuele Ceol 
A case study on the correlation between the labour market and suicide rates in Europe

In [1]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd
import seaborn as sns

In [2]:
suicide_tot = pd.read_csv('./source/OECD_suicides_total.csv')
suicide_man = pd.read_csv('./source/OECD_suicides_man.csv')
suicide_women = pd.read_csv('./source/OECD_suicides_women.csv')

suicide_tot.drop(['INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY'], axis=1)
suicide_man.drop(['INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY'], axis=1)
suicide_women.drop(['INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY'], axis=1)

     LOCATION  TIME  Value Flag Codes
0         AUT  1960   14.7        NaN
1         AUT  1961   13.7        NaN
2         AUT  1962   13.2        NaN
3         AUT  1963   13.9        NaN
4         AUT  1964   13.6        NaN
...       ...   ...    ...        ...
1059      SVN  2013    6.9        NaN
1060      SVN  2014    5.1        NaN
1061      SVN  2015    7.3        NaN
1062      SVN  2016    6.2        NaN
1063      SVN  2017    6.6        NaN

[1064 rows x 4 columns]

In [3]:
suicide_tot.shape
suicide_man.shape
suicide_women.shape

NameError: name 'df' is not defined